<div class="page-header">
  <h1>Ajouter une nouvelle société</h1>
</div>

<<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row bs-wizard" style="border-bottom:0;">

      <div class="col-xs-2 col-xs-offset-1 bs-wizard-step active">
        <div class="text-center bs-wizard-stepnum">Etape 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center"><strong>Ajouter une nouvelle société</strong></div>
      </div>

      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Etape 2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Ajouter les actionnaires initiaux</div>
      </div>

      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Etape 3</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Définir la répartition du capital pré-levée</div>
      </div>

      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Etape 4</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Ajouter les nouveaux actionnaires</div>
      </div>

      <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
        <div class="text-center bs-wizard-stepnum">Etape 5</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Définir les montants investis par les nouveaux actionnaires</div>
      </div>

    </div>
  </div>
</div>

<hr>

<%= render 'form' %>