<h1>Ajouter les actionnaires initiaux (pré-levée) de la société <%=@firm.name%></h1>


<%= button_to 'Ajouter un actionnaire', "#", class: "add-shareholder" %>
<div class="new-shareholder" style="display:none">
    <%= render 'newshareholder' %>
</div>

<%= render 'showshareholders' %>
