<h1>Ajouter les actionnaires initiaux (pré-levée) de la société <%=@firm.name%></h1>


<div id="new-shareholder">
    <%= render 'new_initial_shareholder' %>
</div>

<div id="shareholders">
  <%= render 'show_initial_shareholders' %>
</div>

<%= link_to 'Définir la répartition du capital entre actionnaires', ownership_path(@firm, @round.id) %>