<h1>Ajouter les actionnaires initiaux (pré-levée) de la société <%=@firm.name%></h1>


<div class="new-shareholder">
    <%= render 'newshareholder' %>
</div>

<div id="shareholders">
  <%= render 'showshareholders' %>
</div>