<% if @round.initial_round %>
  <h1>Ajouter les actionnaires initiaux (pré-levée) de la société <%=@firm.name%></h1>
<% else %>
  <h1>Ajouter un nouvel actionnaire</h1>
<% end %>


<div id="new-shareholder">
    <%= render 'new_shareholder' %>
</div>

<div id="shareholders">
  <%= render 'show_shareholders' %>
</div>