  <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <div class="col-sm-10">
                          <h1>Eliminez les tâches répétitives.</h1>
                          <p class="lead">Capy vous accompagne dans la production des documents liés à une augmentation de capital (tableau de capitalisation, bons de souscription).</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <hr class="intro-divider">
    <br>
    <br>
  <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <br>
                    <h3 class="section-heading">Générez rapidement un tableau de capitalisation sans Excel</h3>
                    <p class="lead">Aucun calcul de votre part n'est nécessaire. Capy s'en occupe pour vous à partir des chiffres que vous lui fournissez (montant investi par chaque investisseur, capital ouvert).</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://i.imgur.com/4f9KNPA.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <br>
    <br>
    <br>
    <br>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <h3 class="section-heading">Les bons de souscription sont prêts à être signer</h3>
                    <p class="lead">Ne copier pas dix fois de suite les informations dans des documents Word quasi-identiques. Capy vous permet d'entrer de manière intuitive les informations nécessaires et génère pour vous les documents.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://i.imgur.com/mpzNwB3.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    <br>
    <br>
    <br>
    <br>
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <h3 class="section-heading">Accédez à ces documents en ligne ou téléchargez les sur votre ordinateur</h3>
                    <p class="lead">Téléchargez de beaux documents au format qui vous arrange.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://i.imgur.com/LtEbDib.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-5"></div>
    <%= button_to "Ajouter une nouvelle société", new_firm_path, method: 'get', class: "btn btn-success btn-lg" %>
    <br>
    <br>
    <br>