<div class="row">
<h1>Télécharger les bons de souscription</h1>

<div class="panel panel-default">
  <div class="panel-body">
    Les bons de souscription sont au format ".DOC". Ils peuvent être ouverts et modifiés avec Microsoft Word.
  </div>
</div>

  <div class="col-sm-8 col-sm-offset-2">
    <table class="table table-bordered text-center">
      <th class="text-center">Nouvel actionnaire</th>
      <th class="text-center">Télécharger le bon au format Word</th>
      <% @round.investments.each do |investment| %>
        <tr>
          <td><%= Shareholder.find(investment.shareholder_id).first_name %> <%= Shareholder.find(investment.shareholder_id).last_name %></td>
          <td><%= link_to "Télécharger", subscription_form_path(@firm.id, @round.id, Shareholder.find(investment.shareholder_id).id, investment.id) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Télécharger tous les bulletins (fichier .zip)", zip_form_path(@firm.id, @round.id) %>
  </div>
</div>