<h1>Télécharger les bons de souscription</h1>

<div class="panel panel-default">
  <div class="panel-body">
    Les bons de souscription sont au format ".DOC". Ils peuvent être ouverts et modifiés avec Microsoft Word.
  </div>
</div>

<table class="table">
  <th>Nouvel actionnaire</th>
  <th>Télécharger le bon</th>
  <% @round.investments.each do |investment| %>
    <tr>
      <td><%= Shareholder.find(investment.shareholder_id).first_name %> <%= Shareholder.find(investment.shareholder_id).last_name %></td>
      <td><%= link_to "Télécharger", subscription_form_path(@firm.id, @round.id, Shareholder.find(investment.shareholder_id).id, investment.id) %></td>
    </tr>
  <% end %>
</table>
