  <div class="jumbotron col-sm-10 col-sm-offset-1 home-jumbo" style="margin-top: 50px;">
    <h1>Capy</h1>
    <hr>
    <p>Générez simplement un tableau de capitalisation et des bons de souscription.</p>
    <p>Sans formule Excel.</p>

      <div class="pull-right col-sm-offset-3">
        <p>
          <%= button_to "Ajouter une nouvelle société", new_firm_path, method: 'get', class: "btn btn-success btn-lg" %>
        </p>
      </div>
      <% if user_signed_in? %>
        <div class="pull-right">
          <p>
            <%= button_to "Voir les sociétés déjà ajoutées", firms_path, method: 'get', class: "btn btn-primary btn-lg" %>
          </p>
        </div>
      <% end %>
  </div>
<div class="welcome-page">
</div>