// Place all the styles related to the Firms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-firm-name {
  width: 40%;
}

.form-firm-address {
  width: 60%;
}

.form-firm-rcs {
  width: 20%;
}

.form-firm-court {
  width: 30%;
}

.form-firm-initial-capital {
  width: 15%;
}

.form-firm-bank-name {
  width: 20%
}

.form-firm-bank-agency {
  width: 30%
}

.form-firm-bank-address {
  width: 60%;
}

.form-firm-bank-account {
  width: 30%;
}

.border-bottom {
  margin-bottom: 30px;
}

.firms-index-table {
  margin-top: 40px;
}