// Place all the styles related to the shareholders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submit-button {
  margin-top: 20px;
}

.add-ownership-button {
  margin-top: 10px;
  margin-bottom: 30px;
}