<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><%= link_to "Accueil", home_path%>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><%= link_to "Liste des sociétés", firms_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><%= link_to "Ajouter une société", new_firm_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Capy 2014</p>
            </div>
        </div>
    </div>
</footer>
